﻿@model xir5_37_HotelSantai.Models.ViewModel.KamarDataView
<div>
    <h1>List of Users</h1>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Customer</th>
                <th>Nama Kamar</th>
                <th>No Kamar</th>
                <th>Tanggal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.KamarProfile)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.id_kamar)</td>
                    <td> @Html.DisplayFor(m => i.id_customer)</td>
                    <td> @Html.DisplayFor(m => i.nama_kamar)</td>
                    <td> @Html.DisplayFor(m => i.no_kamar)</td>
                    <td> @Html.DisplayFor(m => i.tanggal)</td>
                    <td><a href="javascript:void(0)" class="lnkEdit">Edit</a></td>
                    <td><a href="javascript:void(0)" class="lnkDelete">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="divEdit" style="display:none">
    <input type="hidden" id="hidID" />
    <table>
        <tr>
            <td>Id Customer</td>
            <td><input type="text" id="idcustomer" class="form-control" /></td>
        </tr>
        <tr>
            <td>Nama Kamar</td>
            <td><input type="text" id="txtNamaKamar" class="form-control" /></td>
        </tr>
        <tr>
            <td>No Kamar</td>
            <td><input type="text" id="txtNoKamar" class="form-control" /></td>
        </tr>
        <tr>
            <td>Tanggal</td>
            <td>
                @Html.TextBox("YourTextBox", "", new { id="tglpesan", @class = "datepicker"})
            </td>
        </tr>
        
    </table>
</div>
<script type="text/javascript">
 $(function () {
 var initDialog = function (type) {
 var title = type;
 $("#divEdit").dialog({
 autoOpen: false,
 modal: true,
 title: type + ' Kamar',
 width: 360,
 buttons: {
 Save: function () {
 var id = $("#hidID").val();
 var idcustomer = $("#idcustomer").val();
 var namaKamar = $("#txtNamaKamar").val();
 var nokamar = $("#txtNoKamar").val();
 var tanggal = $("#tglpesan").val();
 UpdateKamar(id, idcustomer,namaKamar,nokamar,tanggal);
$(this).dialog("destroy");
 },
Cancel: function () { $(this).dialog("destroy"); }
 }
 });
 }
 function UpdateKamar(id, idcstmr, nmkmr, nokmr, tgl) {
 $.ajax({
 type: "POST",
 url: "@(Url.Action("UpdateKamarData", "Kamar"))",
     data: { kamarID: id, idcustomer:idcstmr , namakamar: nama, nokamar: no,tanggal: tgl},
 success: function (data) {

$("#divUserListContainer").load("@(Url.Action("ManageKamarPartial","Kamar", new { status
="update" }))");
 },
 error: function (error) {
 //to do:
 }
 });
 }
 $("a.lnkEdit").on("click", function () {
 initDialog("Edit");
 $(".alert-success").empty();
 var row = $(this).closest('tr');
 $("#hidID").val(row.find("td:eq(0)").html().trim());
 $("#idcustomer").val(row.find("td:eq(1)").html().trim())
 $("#txtNamaKamar").val(row.find("td:eq(2)").html().trim())
 $("#txtNoKamar").val(row.find("td:eq(3)").html().trim())
 $("#divEdit").dialog("open");
 return false;
 });
 function DeleteKamar(id) {
 $.ajax({
 type: "POST",
 url: "@(Url.Action("DeleteKamar","Kamar"))",
 data: { kamarID: id },
 success: function (data) {

$("#divUserListContainer").load("@(Url.Action("ManageKamarPartial","Kamar", new { status
="delete" }))");
 },
 error: function (error) { }
 });
 }
$("a.lnkDelete").on("click", function () {
 var row = $(this).closest('tr');
 var id = row.find("td:eq(0)").html().trim();
 var answer = confirm("apakah anda yakin akan menghapus kamar dengan ID " + id + "?");
 if (answer)
 DeleteKamar(id);
 return false;
});
 });
</script>
<span class="alert-success">@ViewBag.Message</span>
