﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hi <b>@Context.User.Identity.Name</b>! Welcome to my first MVC 5 Web App!</h2>
@Html.ActionLink("Signout", "SignOut", "Account")
@Html.ActionLink("Edit Profile", "EditProfile", "Home") 
