﻿@model xir5_37_HotelSantai.Models.ViewModel.UserSignUpView

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SignUp</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, htmlAttributes: new
{
    @class =
"control-label col-md-2"
})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginName, new
{
    htmlAttributes = new
    { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.LoginName, "", new
{
    @class
= "text-danger"
})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new
{
    @class =
"control-label col-md-2"
})
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new
{
    @class = "formcontrol"
})
                @Html.ValidationMessageFor(model => model.Password, "", new
{
    @class
= "text-danger"
})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new
{
    @class =
"control-label col-md-2"
})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new
{
    htmlAttributes = new
    { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.FirstName, "", new
{
    @class
= "text-danger"
})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new
{
    @class =
"control-label col-md-2"
})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new
{
    htmlAttributes = new
    {
        @class = "form-control"
    }
})
                @Html.ValidationMessageFor(model => model.LastName, "", new
{
    @class
= "text-danger"
})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new
{
    @class =
"control-label col-md-2"
})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
{
 new SelectListItem { Text="Male", Value="M" },
 new SelectListItem { Text="Female", Value="F" }
 }, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>
